In [2]:
import pandas as pd
import numpy as np
n_rows = 10
n_cols = 2
cols= tuple('AB')

df=pd.DataFrame(np.random.randint(1,20, size=(n_rows,n_cols)),columns=cols)
df

    A   B
0   9   9
1  13  10
2   6  15
3   9   7
4  19  11
5   9  17
6   1  15
7  12   4
8   3  11
9   3  17

In [4]:
df['c']=[]
for cek_angka in df['A']:
    if (cek_angka == 5):
        df['c'][cek_angka]='ya'
    else:
        df['c'][cek_angka]='tidak'

df

ValueError: Length of values (0) does not match length of index (10)